.containerSectionProduct
  display: flex
  align-items: center
  justify-content: center

  .listProduct
    width: 1339px
    display: flex
    align-content: center
    justify-content: space-between
    margin: 0 40px

  .arrow
    cursor: pointer

  .right
    transform: rotate(180deg)
