@use './variables'

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: variables.$font
  list-style: none
  
a
  color: inherit
  text-decoration: none
  cursor: pointer

::placeholder
  color: #C0C0C0