@use 'variables'

@mixin buttonStyle
  align-items: center
  justify-content: center
  background: variables.$color-primary
  border-radius: 5px
  color: #ffffff
  display: flex
  border: none
  cursor: pointer